@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Cookie&display=swap");
$font: Cookie;

html {
 font-size: 62.5%;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html,
body {
 font-size: rem(16);
 font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
 scroll-behavior: smooth;
 overflow-x: hidden;
}

header {
 div {
  &:first-child {
   font-family: $font;
  }
 }
}

ul {
 list-style-type: none;
}

a {
 text-decoration: none;
}

header {
 width: 100%;
 padding: 16px;
 bottom: 0;
 z-index: 300;
 box-shadow: -1px 0 3px black;
 user-select: none;

 @include mobile {
  position: fixed;
 }

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
   display: flex;
   align-items: center;
   gap: 12px;

   &:first-child {
    font-size: rem(24);
    user-select: none;

    a {
     &:hover {
      color: currentColor;
     }
    }
   }

   &:last-child {
    a {
     transition: border .1s ease;
     border-bottom: rem(3) solid transparent;

     &.active-link {
      color: $accent;
      border-bottom: rem(3) solid $accent;
     }

     &:hover {
      border-bottom: rem(3) solid $accent;
     }
    }
   }
  }
 }

 nav {
  display: none;

  div {
   &:first-child {
    svg {
     display: none;
    }
   }
  }
 }

 #menu-icons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  svg {
   height: rem(24);
   width: rem(24);
  }

  a {
   height: rem(24);
   width: rem(24);
  }

  @include tablet-and-up {
   display: none;
  }
 }

 @include tablet-and-up {
  box-shadow: none;
  border: none;

  nav {
   display: flex;

   div {
    &:first-child {
     svg {
      display: block;
     }
    }
   }
  }

  #menu-icons {
   display: none;
  }
 }

 @include laptop-and-up {
  nav {
   div {
    &:first-child {
     svg {
      display: none;
     }
    }
   }
  }
 }
}

html {
 ::-webkit-scrollbar {
  background: transparent;
  width: 7px;
 }

 ::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 3px;
 }
}

footer {
 font-size: rem(12);

 p {
  text-align: center;
 }

 margin-bottom: 8px;

 @include mobile {
  margin-bottom: rem(51);
  padding: rem(12);
  border-top: rem(3) solid rgba(0, 0, 0, .25);

  #socials {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   margin-bottom: rem(8);

   svg {
    height: rem(18);
    width: rem(18);
   }

   .theme {
    display: none;
   }
  }
 }
}

#container {
 @include laptop-and-up {
  padding: 0 5%;
 }
}

section {
 margin: rem(16) 0;
 padding: 12px;

 .heading {
  margin-bottom: rem(16);
 }

 @include mobile {
  padding: rem(12) rem(32);
 }

 @include laptop-and-up {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
   width: 80%;
  }
 }
}

h1 {
 font-weight: normal;
}

#socials {
 display: none;

 @include laptop-and-up {
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  left: 0;
  height: 100%;
  width: 5%;
  gap: rem(16);
  padding: 0 8px;

  &::after {
   position: relative;
   content: "";
   z-index: 10;
   height: 5vh;
   width: 1px;
  }

  &::before {
   position: relative;
   content: "";
   z-index: 10;
   flex-grow: 1;
   width: 1px;
  }
 }
}

#landing {
 margin-top: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 background: linear-gradient(to bottom, $accent, transparent);

 h1 {
  font-size: rem(40);
  font-family: Cookie;
  text-align: center;

  &:nth-child(2) {
   font-size: rem(32);
   color: $adjust-accent;
  }
 }

 p {
  font-size: rem(16);
  margin: rem(18) 0;
  text-align: center;
 }

 div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(12);

  a {
   font-size: rem(14);
   padding: rem(8) rem(16);
   transition: all .2s ease-in;
   display: flex;
   justify-content: center;
   align-items: center;

   &:first-child {
    border: 2px solid $accent;
    border-radius: 3px;
    color: $dark-bg;
    background: $accent;

    &:hover {
     background: transparent;
     border-color: $accent;
     color: $accent;
    }
   }

   &:last-child {
    position: relative;

    &:before {
     content: "";
     bottom: 0;
     height: 1px;
     width: 100%;
     position: absolute;
     border-radius: 3px;
     left: 0;
     background: $adjust-accent;
     transition: height .2s ease-in;
     opacity: .2;
    }

    &:hover {
     color: currentColor;

     &:before {
      position: absolute;
      content: "";
      border-radius: 3px;
      bottom: 0;
      opacity: .2;
      left: 0;
      height: 100%;
      width: 100%;
      background: $adjust-accent;
     }
    }
   }
  }
 }

 @include tablet-and-up {
  background: transparent;
  display: flex;
  align-items: center;

  h1 {
   font-size: rem(64);

   &:nth-child(1) {
    font-size: rem(96);
    color: $accent;
   }
  }

  p {
   width: 50%;
  }
 }
}

#skills {
 @include laptop-and-up {
  ul {
   width: 75%;
  }
 }

 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  gap: 12px 32px;

  li {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100px;

   svg {
    display: block;
    height: rem(36);
    width: rem(36);
   }

   span {
    padding: 0;
    margin-top: rem(8);
    font-size: rem(14);
   }
  }
 }
}

.projects {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: rem(12);
 gap: rem(16);
 justify-content: center;

 @include laptop-and-up {
  width: 80%;
 }

 .project {
  border-radius: rem(2.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  height: rem(250);
  width: 100%;
  max-width: rem(300);
  $border: 2px solid currentColor;
  display: flex;
  flex-direction: column;

  .project-head,
  p,
  .tags {
   padding: 12px;
  }


  .project-head {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   border-bottom: $border;
   font-size: rem(14);

   h2 {
    font-weight: normal;
   }


   div {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
    align-items: center;

    a {
     display: flex;
     align-items: center;
    }
   }
  }

  .description {
   position: relative;
   flex-grow: 1;

   &:hover {
    img {
     transition: opacity .25s ease-in-out;
     opacity: 1;
     object-fit: scale-down;
     object-position: 0;
     z-index: 101;
    }
   }

   img {
    position: absolute;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    opacity: .15;
    top: 0;
    left: 0;
   }

   p {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
   }
  }

  .tags {
   display: flex;
   flex-wrap: wrap;
   gap: rem(8);
   border-top: $border;


   li {
    font-size: rem(14);
    width: max-content;
   }
  }

  @include tablet-and-up {
   width: rem(300);
   height: rem(250);
   justify-content: space-evenly;
  }
 }
}

#featured {
 display: flex;
 flex-direction: column;

 #all {
  margin-top: rem(8);
  padding: rem(8) rem(16);
  width: max-content;
  align-self: center;
  border: 2px solid $accent;
  border-radius: 3px;
  background: $accent;

  &:hover {
   background: transparent;
   border-color: $accent;
   color: $accent;
  }
 }
}


#about {
 .about-content {
  display: flex;
  justify-content: center;
  gap: rem(16);
  flex-wrap: wrap;
  width: 100%;
  align-items: center;

  @include laptop-and-up {
   width: 80%;
   justify-content: space-between;
  }

  div {
   &:first-child {
    p {
     margin: rem(16) 0;
     max-width: 100%;
    }

    @include laptop-and-up {
     max-width: 50%;
    }
   }

   &:last-child {
    display: none;

    @include laptop-and-up {
     display: block;
     border-radius: 10px;
     height: 250px;
     width: 250px;
     position: relative;

     img {
      height: 100%;
      border-radius: 10px;
      width: 100%;
      box-shadow: 0 0 50px rgba(0, 0, 0, .25);
      z-index: 10;
     }

     &::before {
      position: absolute;
      content: "";
      top: -10px;
      height: 100%;
      width: 100%;
      background: transparent;
      border: 2px solid rgba(0, 0, 0, .20);
      right: -10px;
      z-index: 0;
      border-radius: 10px;
     }
    }
   }
  }
 }

 strong {
  color: $adjust-accent;
 }
}