@use "sass:list";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

@layer utilities {
 .bg-theme {
  background: theme("colors.light");

  @media (prefers-color-scheme: dark) {
   background: theme("colors.dark")
  }
 }

 .color-theme {
  color: theme("colors.dark");

  @media (prefers-color-scheme: dark) {
   color: theme("colors.light");
  }
 }
}

@layer components {
 .container {
  max-width: theme("screens.xl");
  margin: 0 auto;
  z-index: 100;

  @media (min-height: theme("screens.lg")) {
   // min-height: min(theme("screens.xl"), min(100dvh, 100vh));
  }
 }

 .project-list-item {
  @apply flex px-2;

  span {
   @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
     transition-delay: 100ms * $i;
     transition: transform .1s ease-in-out;

     @media (prefers-reduced-motion: reduce) {
      transition-duration: .5s;
     }

     &:hover,
     &:focus {
      text-shadow: inset 1px 1px 1px rgba(0 0 0 / 5);
     }
    }
   }

   &:hover,
   &:focus {
    transform: translateY(-.5rem);

    +span {
     transform: translateY(-.25rem);
    }
   }
  }
 }

 .marquee {
  position: relative;
  overflow: hidden;
  height: max-content;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, .25), 1px 1px 3px rgba(0, 0, 0, .25);
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  .marquee-inner {
   position: relative;
   transform: translate3d(var(--move-initial), 0, 0);
   animation: marquee 20s linear infinite;
   animation-play-state: running;
   gap: 1rem;

   &:hover {
    animation-play-state: paused;
   }

   @keyframes marquee {
    0% {
     transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
     transform: translate3d(var(--move-final), 0, 0);
    }
   }

   @media (prefers-reduced-motion: reduce) {
    animation-duration: 60s;
   }
  }
 }

 .gradient-text {
  width: max-content;
  color: transparent;
  background-image: linear-gradient(to right, hsl(325, 91%, 73%), hsl(155, 96%, 55%), hsl(216, 93%, 77%));
  background-clip: text;
  font-weight: bold;

  &:hover,
  &:focus {
   animation: move 40s linear infinite forwards;

   @media (prefers-reduced-motion: no-preference) {
    animation: move 3s linear infinite forwards;
   }
  }

  @keyframes move {
   0% {
    background-position-x: 0;
   }

   100% {
    background-position-x: calc(1em * 20.5);
   }
  }
 }

 .text-input {
  @apply flex flex-col gap-2 opacity-50 color-theme;

  label {
   @apply text-sm sr-only;
  }

  input,
  textarea {
   @apply transition-colors py-2 px-4 rounded-sm bg-teal-500/10;
   outline: none;
   border-bottom: 2px solid transparent;

   &::placeholder {
    @apply color-theme;
    background: transparent;
   }

   &:hover,
   &:focus {
    border-bottom: 2px solid theme("colors.teal.500");

    @media (prefers-color-scheme: dark) {
     border-bottom-color: theme("colors.teal.500");
    }
   }

  }

  &:hover,
  &:focus-within {
   @apply opacity-100;
  }
 }

 @media (prefers-reduced-motion: reduce) {

  *,
  *:hover,
  *:focus,
  *:focus-within,
  *::before,
  *::after {
   transition: none;
   animation: none;
  }
 }

 @media (prefers-color-scheme: dark) {
  .marquee {
   box-shadow: -1px -1px 3px rgba(255, 255, 255, .25), 1px 1px 3px rgba(255, 255, 255, .25);
  }

  .gradient-text {
   background-image: linear-gradient(to right, rgb(242, 131, 196), rgb(156, 239, 204), rgb(148, 187, 245));
  }
 }
}

@layer base {
 html {
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
   color-scheme: dark;
  }
 }

 html,
 body {
  background: theme("colors.light");
  color: theme("colors.dark");
 }

 svg {
  stroke-width: .5px;
  position: relative;
  text-shadow: 0 10px 10px theme("colors.light");
 }

 ul {
  background-position-x: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, theme("colors.dark") 20%, transparent 20%);
  background-size: 1px 0px;
  position: relative;

  @media (prefers-reduced-motion: no-preference) {
   transition: all 500ms ease-in-out;
  }
 }

 :disabled {
  cursor: not-allowed;
  opacity: .75;
 }

 @media (prefers-color-scheme: dark) {
  html {
   color-scheme: dark;
  }

  html,
  body {
   background: theme("colors.dark");
   color: theme("colors.light");
  }

  svg {
   text-shadow: 0 10px 10px theme("colors.dark");
  }

  ul {
   background-image: linear-gradient(to bottom, theme("colors.light") 20%, transparent 20%);
  }
 }
}

#mouse {
 $size: 50px;
 position: fixed;
 background-color: transparent;
 border-radius: theme("borderRadius.full");
 mix-blend-mode: exclusion;
 pointer-events: none;
 height: $size;
 width: $size;
 z-index: 9999;
}

.spinner {
 @apply rounded-full border-2 border-transparent border-r-light border-t-light border-solid;
 animation: spin infinite 1250ms linear;
 height: 1.5rem;
 width: 1.5rem;

 @keyframes spin {
  100% {
   rotate: 180deg;
   transform: rotate(180deg);
  }
 }
}