@use "sass:list";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 $rounded: theme("borderRadius.DEFAULT");
 $colors: #0a66c2,
  #1d9bf0,
  #171515,
  #1DB954,
  #db4437;

 .container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: theme("gap.4");
  flex-direction: column;
  justify-content: space-between;

  &::after {
   position: absolute;
   content: "";
   bottom: 0;
   left: 0;
   height: 50px;
   width: 50px;
   border-radius: 50%;
  }
 }

 @for $i from 1 through 5 {
  .icon-#{$i} {
   position: relative;

   &::before {
    position: absolute;
    content: "";
    height: 0px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: $rounded;
    box-shadow: inset 0 2px 4px theme("colors.dark");

    @media (prefers-reduced-motion: no-preference) {
     transition: height ease-in-out 1s
    }
   }

   &:hover,
   &:focus {
    color: white;

    @media (prefers-reduced-motion: no-preference) {
     border-radius: $rounded;
    }

    &::before {
     content: "";
     position: absolute;
     background: list.nth($list: $colors, $n: $i);
     width: 100%;
     box-shadow: inset 0 2px 4px theme("colors.dark");
     height: 100%;

     @media (prefers-reduced-motion: no-preference) {
      border-radius: $rounded;
     }
    }
   }

   @media (prefers-reduced-motion: no-preference) {
    transition: height ease-in-out 1s
   }
  }
 }

 .project {
  display: flex;

  span {
   @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
     transition-delay: 100ms * $i;
     transition: transform .1s ease-in-out;

     @media (prefers-reduced-motion: reduce) {
      transition-duration: .5s;
     }

     &:hover,
     &:focus {
      text-shadow: inset 1px 1px 1px rgba(0 0 0 / 5);
     }
    }
   }

   &:hover,
   &:focus {
    transform: translateY(-.5rem);

    +span {
     transform: translateY(-.25rem);
    }
   }
  }
 }

 .marquee {
  position: relative;
  overflow: hidden;
  height: max-content;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, .25), 1px 1px 3px rgba(0, 0, 0, .25);
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  .marquee-inner {
   position: relative;
   transform: translate3d(var(--move-initial), 0, 0);
   animation: marquee 20s linear infinite;
   animation-play-state: running;
   gap: 1rem;

   &:hover {
    animation-play-state: paused;
   }

   @keyframes marquee {
    0% {
     transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
     transform: translate3d(var(--move-final), 0, 0);
    }
   }

   @media (prefers-reduced-motion: reduce) {
    animation-duration: 60s;
   }
  }
 }

 .gradient-text {
  width: max-content;
  color: transparent;
  background-image: linear-gradient(to right, hsl(325, 91%, 73%), hsl(155, 96%, 55%), hsl(216, 93%, 77%));
  background-clip: text;
  font-weight: bold;

  &:hover,
  &:focus {
   animation: move 40s linear infinite forwards;

   @media (prefers-reduced-motion: no-preference) {
    animation: move 3s linear infinite forwards;
   }
  }

  @keyframes move {
   0% {
    background-position-x: 0;
   }

   100% {
    background-position-x: calc(1em * 20.5);
   }
  }
 }

 @media (prefers-reduced-motion: reduce) {

  *,
  *:hover,
  *:focus,
  *:focus-within,
  *::before,
  *::after {
   transition: none;
   animation: none;
  }
 }

 @media (prefers-color-scheme: dark) {
  .marquee {
   box-shadow: -1px -1px 3px rgba(255, 255, 255, .25), 1px 1px 3px rgba(255, 255, 255, .25);
  }

  .gradient-text {
   background-image: linear-gradient(to right, rgb(242, 131, 196), rgb(156, 239, 204), rgb(148, 187, 245));
  }
 }
}

@layer base {
 body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Raleway";
 }

 svg {
  stroke-width: .5px;
  position: relative;
  text-shadow: 0 10px 10px theme("colors.light");
 }

 ul {
  background-position-x: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, theme("colors.dark") 20%, transparent 20%);
  background-size: 1px 0px;
  position: relative;

  @media (prefers-reduced-motion: no-preference) {
   transition: all 500ms ease-in-out;
  }
 }

 #mouse {
  $size: 50px;
  position: fixed;
  background-color: transparent;
  border-radius: theme("borderRadius.full");
  mix-blend-mode: exclusion;
  pointer-events: none;
  height: $size;
  width: $size;
 }

 @media (prefers-color-scheme: dark) {
  svg {
   text-shadow: 0 10px 10px theme("colors.dark");
  }

  ul {
   background-image: linear-gradient(to bottom, theme("colors.light") 20%, transparent 20%);
  }
 }
}