.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4em;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 4em;
	background: $primary;

	border-radius: 0 0 20px 20px;
	border: $primary solid 3px;
	border-top: transparent;

	.logo {
		margin: 0 1.3rem;
		padding: 1em;
		border: 2px solid $background;
		border-radius: 50%;
	}

	a {
		color: $background;

		&:hover {
			color: $background;
		}
	}
}