.container {
	margin-top: 6em;
	margin: 6em auto 2em;
	width: 85vw;
	padding: 1.5em;
	display: flex;
	gap: 50px;

	#left {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 5em 0;
		width: 100%;

		h1 {
			font-size: 3em;
			color: $primary
		}

		p {
			font-size: 1.6em;
			color: white;
		}

		.actions {
			display: flex;
			flex-wrap: wrap;
			gap: 1em;
			margin: 1em 0;

			a {
				padding: .5em;

				&:hover {
					color: $primary;
					transition: all .3s ease-in-out;
				}

				&:nth-child(2) {
					position: relative;
					color: white;

					&::after {
						position: absolute;
						content: "";
						left: 0;
						height: 1px;
						width: 20%;
						background: $primary;
						bottom: 0;
						transition: all .3s ease-in;
					}

					&:hover {
						&::after {
							position: absolute;
							content: "";
							left: 0;
							height: 1px;
							width: 100%;
							background: $primary;
							bottom: 0;
						}
					}
				}
			}

			.contact {
				cursor: pointer;
			}
		}

		.socials {
			margin-top: 1em;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			transition: .3s ease-in color;

			a {
				&:hover {

					path,
					rect,
					circle {
						color: $primary;
					}
				}
			}
		}
	}

	#right {
		display: none;
		height: 100%;
		width: 100%;

		div {
			display: flex;
			font-size: 8em;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			border-radius: 50%;
			height: 40vw;
			border-color: $primary;
			width: 40vw;
		}
	}
}


@media screen and (max-width: 768px) {
	#right {
		display: none;
	}

	.container {
		justify-content: center;
	}

	#left {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
	}
}