$dark-bg: rgb(39, 39, 44);
$light-bg: rgb(229, 246, 246);
$light-bg: rgb(250, 250, 250);
$dark-txt: white;
$light-txt: $dark-bg;

// $accent: rgb(116, 169, 138);
$accent: rgb(116, 150, 150);
$adjust-accent: adjust-color($color: $accent, $hue: 180, $saturation: 50%, $lightness: 10%);
$text-shadow: 0 0 10px currentColor;

@function rem($px) {
 @return #{$px / 16}rem;
}

@mixin theme($theme-bg, $theme-txt) {
 background: $theme-bg;
 color: $theme-txt;

 ::after,
 ::before {
  background: $theme-txt;
 }

 a {
  color: $theme-txt;

  &:hover {
   color: $accent;
  }
 }

 header,
 #socials {
  background: $theme-bg;
 }

 nav {
  svg {
   color: currentColor;

   &:hover {
    color: $accent;
   }
  }
 }

 footer {
  nav {
   div {
    &:hover {
     a {
      color: $accent;
     }
    }
   }
  }
 }
}

.dark {
 @include theme($dark-bg, $dark-txt);

 #landing {

  h1,
  p {
   text-shadow: $text-shadow;
  }
 }

 section {
  .heading {
   text-shadow: $text-shadow;
  }
 }
}

.light {
 @include theme($light-bg, $light-txt);
}


@mixin mobile {
 @media (max-width: 480px) {
  @content;
 }
}

@mixin tablet-and-up {
 @media (min-width: 481px) {
  @content;
 }
}

@mixin laptop-and-up {
 @media (min-width: 769px) {
  @content;
 }
}

@mixin desktop-and-up {
 @media (min-width: 1025px) {
  @content;
 }
}

@mixin large-screen {
 @media (min-width: 1201px) {
  @content;
 }
}