.projects {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	padding-top: 6em;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;

	.project {
		width: 250px;
		height: 250px;
		max-width: 250px;
		max-height: 250px;
		width: 100%;
		margin: 0.5em 0;
		border-color: $primary;
		border-radius: 5px;

		&:nth-child(1n) {

			.p-hd,
			.tags li,
			.action svg path {
				background: rgba(45, 118, 236, 0.6);
			}

			.dsc:hover {
				.image {
					top: 250px;
				}
			}
		}

		&:nth-child(2n) {

			.p-hd,
			.tags li {
				background: rgba(217, 67, 12, 0.6);
			}

			.dsc:hover {
				.image {
					top: -250px;
				}
			}
		}

		&:nth-child(3n) {

			.p-hd,
			.tags li {
				background: rgba(160, 44, 206, 0.6);
			}

			.dsc:hover {
				.image {
					left: -250px;
					top: 0px;
				}
			}
		}

		&:nth-child(4n) {

			.p-hd,
			.tags li {
				background: rgba(13, 248, 83, 0.6);
			}

			.dsc:hover {
				.image {
					left: 250px;
					top: 0;
				}
			}
		}

		.p-hd {
			display: flex;
			border-bottom: 3px solid $primary;
			padding: 0 .25em;
			height: 40px;
			justify-content: space-between;
			align-items: center;

			.action {
				border: 1px solid transparent;

				a {
					text-align: center;
					margin: 0 0.25em;

					path {
						color: white;
					}

					svg {
						margin-top: 3px;

						&:hover path {
							color: $primary;
						}
					}
				}
			}
		}

		.dsc {
			position: relative;
			overflow: hidden;
			height: 204px;
			width: 244px;

			.content {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;

				p {
					margin-top: .5em;
				}

				.tags {
					display: flex;
					flex-wrap: wrap;
					padding: 0 0.125em;
					gap: 5px;

					li {
						margin-top: 1em;
						margin-right: 0.125em;
						padding: 0 0.25em;
						font-size: 0.9em;
						border: 2px solid black;
						border-radius: 3px;
					}
				}
			}



			.image {
				position: absolute;
				top: 0;
				left: 0;
				height: 204px;
				width: 244px;
				z-index: 5;
				transition: .3s all ease-in-out;
			}
		}
	}
}